/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  :root.theme-dark {
  --background-color: #000028;
  --background-image: url("../images/cover-image-dark.png");
  --main-text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --heading-text-color: #000028;
  --decorative-color: #ff0070;
  --text-block-color: #ff0070;
  --shadow-color: #ff0070;
}

@media (prefers-color-scheme: dark) {
  :root.theme-auto {
    --background-color: #000028;
    --background-image: url("../images/cover-image-dark.png");
    --main-text-color: #f1b2ce;
    --accent-color: #ff0070;
    --title-color: #db00ff;
    --heading-text-color: #000028;
    --decorative-color: #ff0070;
    --text-block-color: #ff0070;
    --shadow-color: #ff0070;
  }
}
}