/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-color: #fff1f7;
  --background-image: url("../images/cover-image-light.png");
  --main-text-color: #353430;
  --accent-color: #353430;
  --title-color: #ffc2e6;
  --heading-text-color: #353430;
  --decorative-color: #353430;
  --text-block-color: #ff8dcb;
  --shadow-color: #ff8dcb;
  --button-hover-color: rgb(53 52 48 / 0.4);
  --rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff1f7;
    --background-image: url("../images/cover-image-light.png");
    --main-text-color: #353430;
    --accent-color: #353430;
    --title-color: #ffc2e6;
    --heading-text-color: #353430;
    --decorative-color: #353430;
    --text-block-color: #ff8dcb;
    --shadow-color: #ff8dcb;
    --button-hover-color: rgb(53 52 48 / 0.4);
    --rec-display: none;
  }
}